@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Web.Common.PublishedModels.Projects>
@using Umbraco.Cms.Web.Common.PublishedModels;
@using System.Net.Http;
@using Newtonsoft.Json;
@using System.Threading.Tasks;
@using Microsoft.AspNetCore.Http
@using System.Web;



@{
    var domain = "https://localhost:44371";
    Layout = "Master.cshtml";
    ViewBag.headerClass = "dark";
    var home = Umbraco.ContentAtRoot().FirstOrDefault() as Home;
    var curCulture = Model.GetCultureFromDomains();


// Get the search term from the query string
var queryString = ViewContext.HttpContext.Request.Query["search"].ToString();
var searchTerm= HttpUtility.UrlDecode(queryString.TrimEnd('/'));
var searchQuery = searchTerm.Replace("~", " ");
var searchProjects = "";

if (!string.IsNullOrWhiteSpace(searchQuery))
{
    searchProjects = searchQuery;
}

// API URL with search term
var apiUrl = $"{domain}/api/projects/GetAllProjectDetailsWithFilter?projectName=&companyName=&IndustryName={searchProjects}";
dynamic projects = null;

    // Fetch data from the API
    using (var client = new HttpClient())
    {
        var response = await client.GetAsync(apiUrl);
        if (response.IsSuccessStatusCode)
        {
            var data = await response.Content.ReadAsStringAsync();
            projects = JsonConvert.DeserializeObject<dynamic>(data);
        }
    }
}


<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="about-us-page">
    <section class="section-1">
        <div class="title-padding container">
            <h1 class="title">@Model.PageDescription</h1>
            <div class="subtitle">
                @Model.SubDescription
            </div>
        </div>
    </section>
    <br>
    <!-- New Projects Section -->
    <section class="section-2">
        <div class="container">
  
<style>
    /* Custom CSS for the search bar */
    .search-container {
        position: relative;
        margin-bottom: 20px;
    }

    .search-input {
        width: calc(100% - 160px); /* Adjusted width for the input field */
        padding: 15px 35px; /* Increased padding for a bigger size */
        border: 2px solid #ccc; /* Increased border thickness */
        border-radius: 30px; /* Adjusted border-radius for a bigger size */
        font-size: 18px; /* Increased font size */
        font-family: 'Roboto', sans-serif; /* Apply Google Font */
        transition: border-color 0.3s ease;
        
        background-color: #f7f7f7;
    }

    .search-input:focus {
        outline: none;
        border-color: #4CAF50;
    }

    .search-btn {
        position: absolute;
        right: 5%;
        top: 50%;
        transform: translateY(-50%);
        border: none;
        background-color: #ea3934;
        color: #fff;
        border-radius: 10px;
        padding: 15px 35px; /* Increased padding for a bigger size */
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .search-btn:hover {
        background-color: #8a130f;
    }

    .search-icon {
        position: absolute;
        left: 20px; /* Adjusted left position for proper spacing */
        top: 50%;
        transform: translateY(-50%);
        color: #777;
        font-size: 24px; /* Increased font size */
    }
        
      /**/  
.card {
    border: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.card-header {
    background-color: #007bff;
    color: white;
    border-radius: 8px 8px 0 0;
    padding: 10px 15px;
}

.card-title {
    margin-bottom: 10px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    border-radius: 8px 0 0 8px;
}

.card-body {
    padding: 20px;
}

.card-text {
    margin-bottom: 10px;
}

.view-details {
    margin-top: 20px;
    width: 100%;
}



    
</style>

<div class="row mb-4">
    <div class="col-md-12 search-container">
        <!--<i class="material-icons search-icon">search</i>  Material Icon for search -->
        <input type="text" id="searchInput" class="search-input" placeholder="Search for projects..." value="@searchQuery" >
        <button class="search-btn" id="searchBtn">Find</button>
    </div>
</div>



            <div class="row" id="projectCards">
                @if (projects != null)
                {
                    foreach (var project in projects)
                    {
                    <br>
                        <div class="col-md-12 mb-3">
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-6">
                <img src="@ViewBag.Domain/media/alhbhyy5/default.png" class="img-fluid rounded-start" alt="Project Image">
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <h5 class="card-title">@project.projectName</h5>
                    <p class="card-text"><strong>Valuation:</strong> $@project.projectValuation</p>
                    <p class="card-text"><strong>Description:</strong> @project.projectDescription</p>
                    <p class="card-text"><strong>Industry:</strong> @project.industry</p>
                    <p class="card-text"><strong>Founder:</strong> @project.founder</p>
                    <p class="card-text"><strong>Company:</strong> @project.companyName</p>
                    <a href="#" class="btn btn-primary view-details" data-id="@project.id" data-title="@project.projectName">View Details</a>
                </div>
            </div>
        </div>
    </div>
</div>



                    }
                }
                else
                {
                    <p>No projects found.</p>
                }
            </div>
        </div>
    </section>
</div>

@section Scripts {
    <script>
    var domain = '@ViewBag.Domain';
    document.addEventListener("DOMContentLoaded", function() {
        // Add event listener for the search button click
        document.getElementById('searchBtn').addEventListener('click', async function() {
            await searchProjects();
            resetUrl();
        });

        // Add event listener for the search input keydown event
        document.getElementById('searchInput').addEventListener('keydown', async function(e) {
            if (e.key === 'Enter') {
                await searchProjects();
                resetUrl();
            }
        });
    });

    async function searchProjects() {
        var projectName = document.getElementById('searchInput').value.trim();
        var encodedProjectName = encodeURIComponent(projectName).replace(/%20/g, '+');
        var apiUrl = `https://localhost:44371/api/projects/GetAllProjectDetailsWithFilter?projectName=&companyName=&IndustryName=${encodedProjectName}`;

        try {
            var response = await fetch(apiUrl);
            if (response.ok) {
                var projects = await response.json();
                updateProjectCards(projects);
             } else if (response.status === 404 || response.status === 500) {
                // Handle 404 or 500 error
                updateProjectCards([]);
            } else {
                console.error('Failed to fetch projects from the API.');
            }
        } catch (error) {
            console.error('Error fetching projects:', error);
        }
    }

    function updateProjectCards(projects) {
        var projectCardsDiv = document.getElementById('projectCards');
        projectCardsDiv.innerHTML = '';

        if (projects && projects.length > 0) {
            var html = '';
            projects.forEach(project => {
                html += `
                <br/>
                    <div class="col-md-12 mb-3">
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-6">
                <img src="${domain}/media/alhbhyy5/default.png" class="img-fluid rounded-start project-image" alt="Project Image">
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <h5 class="card-title">${project.projectName}</h5>
                    <p class="card-text"><strong>Valuation:</strong> $${project.projectValuation}</p>
                    <p class="card-text"><strong>Description:</strong> ${project.projectDescription}</p>
                    <p class="card-text"><strong>Industry:</strong> ${project.industry}</p>
                    <p class="card-text"><strong>Founder:</strong> ${project.founder}</p>
                    <p class="card-text"><strong>Company:</strong> ${project.companyName}</p>
                    <a href="#" class="btn btn-primary view-details" data-id="${project.id}" data-title="${project.projectName}">View Details</a>
                </div>
            </div>
        </div>
    </div>
</div>`
            });
            projectCardsDiv.innerHTML = html;
        } else {
            projectCardsDiv.innerHTML = '<p>No projects found.</p>';
        }
    }
    // Refresh the url 
     function resetUrl() {
            var newUrl = window.location.href.split('?')[0]; // Get the URL without query parameters
            window.history.pushState({}, document.title, newUrl); // Update the URL without reloading the page
        }
    </script>



}
